<% @tasks.each do |task| %>
  <%category = task.category_id%>
  <%= link_to category_task_path(category, task), :action => 'go' do%>
    <div class="taskCard">
      <p id="deadline">DUE ON: <%=task.deadline%></p>
      <h3><%=task.name%></h3>
      <%=task.details%><br>
    </div>
  <%end%> 
<%end%> 