/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
.profiler-result{
  display: none;
}
#signupCosmetic, #loginCosmetic {
  display: none;
}
#signupForm, #loginForm{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}
label{
  padding-left: .35rem;
  font-family: 'Sintony', Sans-Serif;
  font-weight: 400;
  letter-spacing: -.5px;
  color: #2598fd;
}
.field, .field_dual {
  margin-top: .5rem;
}
.field > input{
  background-color: #edf4ff;
  border: none;
  border-radius: .65rem;
  padding: .5rem;
  border: 1px solid #edf4ff;
  width: 15rem;
}
.field_dual {
  display: flex;
  justify-content: space-between;
}
.field_dual > div > input{
  background-color: #edf4ff;
  border: none;
  border-radius: .65rem;
  padding: .5rem;
  border: 1px solid #edf4ff;
  width: 7.25rem;
}
input:focus, .field_dual > div > input:focus{
  outline: none;
  border: 1px solid #2598fd;
}
.alternateUser, .alternateAction{
  font-size: .85rem;
  letter-spacing: -.5px;
  color: #2598fd;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1rem;
  font-family: 'Sintony', Sans-Serif;
}
#signupSubmit, #loginSubmit, #newCategorySubmit, #deleteCancel{
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;
  padding: .75rem;
  background: linear-gradient(75deg, #5377f0 0%, #239afe 20%, #239afe 33%, #a7d6ff 45%, #a7d6ff 55%, #239afe 65%);
  background-size: 300% 100%;
  background-position: left;
  transition: all .5s ease;
  margin-top: 1rem;
  border: none;
  font-family: 'Sintony', Sans-Serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
#signupSubmit:hover, #loginSubmit:hover, #newCategorySubmit:hover, #deleteCancel:hover{
  background-position: right;
  transition: all .5s ease
}
.deleteButton {
  cursor: pointer;
  width: 100%;
  border-radius: .65rem;
  padding: .5rem;
  margin-top: 1rem;
  border: 1px solid red;
  font-family: 'Sintony', Sans-Serif;
  font-size: 1rem;
  color: red;
}
#realForm > h2{
  text-align: center;
}
#realForm > img {
  height: 3rem;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}
#user_remember_me{
  width: initial;
}
#user_remember_me + label {
  padding: 0;
}
#formHeading {
  font-size: 2.5rem;
  letter-spacing: -2.5px;
}
.deleteConfirmationContainer {
  width: 100%;
  height: 100%;
  position:fixed;
  background-color: #00000070;
  display: none;
  justify-content: center;
  align-items: center;
}
.deleteConfirmationPopup{
  width: clamp(260px, 50vw, 720px);
  background-color: white;
  border-radius: .65rem;
  border: none;
  padding: .75rem;
}
button > a{
  text-decoration: none;
}
#deleteConfirm {
  border: 1px solid red;
  border-radius: 1rem;
  margin: 0;
  color: red;
  width: 48%;
  padding: .75rem;
  font-size: initial;
}
#deleteCancel {
  margin: 0;
  width: 48%;
}
.popupActions{
  justify-content: space-between;
  display: flex;
  margin-top: .65rem;
}
#realForm{
  max-width: 15rem;
}
@media screen and (min-width: 1024px) {
  #realForm > img {
    display: none;
  }
  #realForm > h2{
    text-align: initial;
  }
  #signupForm, #loginForm{
    justify-content: space-between;
    align-items: initial;
  }
  #signupProper, #loginProper{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #signupCosmetic, #loginCosmetic{
    display: initial;
    position: relative;
    background: linear-gradient(75deg, #5377f0 0%, #239afe 100%);
    width: 35vw;
    padding: 3rem;
    text-align: center;
  }
  .userHero {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    z-index: 5;
  }
  #signupCosmetic > h2, #loginCosmetic > h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4rem;
    line-height: 100%;
    color: white;
    letter-spacing: -3px;
  }
  #userLogo {
    height: 3.5rem;
    margin-bottom: 2.5rem;
  }
  #signupCosmetic > span, #loginCosmetic > span {
    display: block;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 1rem;
    z-index: 10;
    font-size: .75rem;
    color: white;
    font-family: 'Sintony', Sans-Serif;
  }
}
@media screen and (min-width: 1280px) {
  #realForm{
    max-width: 20rem;
  }
  .field > input{
    width: 20rem;
  }
  .field_dual > div > input{
    background-color: #edf4ff;
    border: none;
    border-radius: .65rem;
    padding: .5rem;
    border: 1px solid #edf4ff;
    width: 9.75rem;
  }
}