// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$head-font: 'M PLUS Rounded 1c', sans-serif;
$body-font: 'Sintony', Sans-Serif;
$primary-color: #2598fd;
$secondary-color: #1e1e1e;
$animated-gradient: linear-gradient(75deg, #5377f0 0%, #239afe 20%, #239afe 33%, #a7d6ff 45%, #a7d6ff 55%, #239afe 65%);

.nonLanding {
  justify-content: center;
  padding-bottom: .25rem;
  @media screen and (min-width: 580px){
    padding: 2rem 1rem;
  }
  @media screen and (min-width: 768px){
    display: none;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  padding: .5rem .25rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  background-color: white;
  @media screen and (min-width: 768px){
    display: none;
  }
}
.navIcon {
  height: 1.5rem;
  @media screen and (min-width: 580px){
    width: auto;
    margin: .5rem;
  }
  @media screen and (min-width: 1280px){
    height: 2rem;
  }
}
h2{
  font-family: $head-font;
  color: $primary-color;
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.navActions {
  text-align: center;
  @media screen and (min-width: 1280px){
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
}
#newTask {
  font-size: 0;
  margin-top: -1rem;
}
#newTaskIcon {
  display: block;
  height: 2.75rem;
  @media screen and (min-width: 768px){
    display: initial;
  }
}
#categoriesProper {
  margin: auto;
  max-width: 1200px;
  padding: 1.25rem;
  padding-top: 0;
  padding-bottom: 4rem;
  @media screen and (min-width: 580px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px){
    padding-left: 10.25rem;
    padding-top: 1.25rem;
  }
}
.categoryCard{
  margin: 1.5rem 0;
  padding: 1.25rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
  box-shadow: 3px 3px 24px 0 #d4e1f480, 1px 1px 2px 0 #d4e1f480;
  @media screen and (min-width: 580px){
    margin: .5rem;
  }
  @media screen and (min-width: 768px){
    margin: 1rem;
  }
}
h3>a{
  text-decoration: none;
  color: $primary-color;
  font-family: $body-font;
  font-weight: 700;
  font-size: 1.2rem;
}
#addCategory{
  margin: 0;
  width: 100%;
  border-radius: 1.5rem;
  padding: 1.25rem;
  background: $animated-gradient;
  background-size: 300% 100%;
  background-position: left;
  transition: all .5s ease;
  @media screen and (min-width: 580px){
    width: auto;
    margin: .5rem;
  }
  @media screen and (min-width: 768px){
    margin: 1rem;
  }
}
#addCategory:hover{
  background-position: right;
  transition: all .5s ease
}
#addCategory>h3>a, #newTaskNotMobile>h3>a{
  color: white;
}
#sideNav {
  display: none;
  @media screen and (min-width: 768px){
    display: flex;
    position: fixed;
    left: 0;
    top: 0; 
    width: 6rem;
    flex-direction: column;
    border-right: 1px solid #e7e7e7;
  }
  @media screen and (min-width: 1280px){
    width: auto;
    padding: 1.25rem 2.5rem;
    justify-content: flex-start;
  }
}
#headingNotMobile{
  display: none;
  @media screen and (min-width: 768px){
    display: initial;
    width: 100%;
    text-align: center;
  }
}
.navActions > span {
  display: none;
  @media screen and (min-width: 1280px){
    display: initial;
    font-family: $body-font;
    font-weight: 700;
    color: $primary-color;
    font-size: 1.1rem;
  }
}
#newTaskNotMobile {
  display: none;
  @media screen and (min-width: 1280px){
    display: initial;
    margin: 0;
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    background: $animated-gradient;
    background-size: 300% 100%;
    background-position: left;
    transition: all .5s ease;
    margin-top: 1rem;
  }
}
#sideNav > #newTask {
  @media screen and (min-width: 1280px){
    display: none;
  }
}
#sideNav > #logoIcon {
  @media screen and (min-width: 1280px){
    display: none;
  }
}
#sideNav > #logoType {
  display: none;
  @media screen and (min-width: 1280px){
    margin: 1rem;
    margin-right: 0;
    margin-left: .5rem;
    display: initial;
    align-self: flex-start;
    height: 2.25rem;
  }
}