// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$head-font: 'M PLUS Rounded 1c', sans-serif;
$body-font: 'Sintony', Sans-Serif;
$primary-color: #2598fd;
$secondary-color: #1e1e1e;
$animated-gradient: linear-gradient(75deg, #5377f0 0%, #239afe 20%, #239afe 33%, #a7d6ff 45%, #a7d6ff 55%, #239afe 65%);
#deadline {
  font-family: $body-font;
  font-weight: 700;
  font-size: .8rem;
  letter-spacing: -.5px;
  color: $primary-color;
}
.taskCard{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 580px){
    max-width:40vw;
  }
  @media screen and (min-width: 1024px){
    max-width: initial;
    width: 360px;
  }
}
.taskCard > a {
  text-decoration: none;
}
.taskCard > a > h3{
  color: $primary-color;
  font-family: $body-font;
}
#categoryTag{
  margin: 0;
  font-size: .75rem;
  padding: .25rem .5rem;
  margin-top: .5rem;
}
select{
  width: 100%;
  background-color: #edf4ff;
  border: none;
  border-radius: .65rem;
  padding: .5rem;
  border: 1px solid #edf4ff;
}
select:focus{
  border-radius: .65rem .65rem 0 0;
  outline: none;
  border: 1px solid #2598fd;
}